/* @override */


/*
Theme Name: Traveler Tech
Version: 1.0
Description: A Canvas Child Theme
Author: Justin Lancy
Author URI: http://travelertech.com
Template: canvas
*/
 
@import url("../canvas/style.css");
/*!
 *  Font Awesome 3.2.1
 *  the iconic font designed for Bootstrap
 *  ------------------------------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation can be
 *  found at http://fontawesome.io.  Stay up to date on Twitter at
 *  http://twitter.com/fontawesome.
 *
 *  License
 *  ------------------------------------------------------------------------------
 *  - The Font Awesome font is licensed under SIL OFL 1.1 -
 *    http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - Font Awesome documentation licensed under CC BY 3.0 -
 *    http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fontawesome.io"
 *
 *  Author - Dave Gandy
 *  ------------------------------------------------------------------------------
 *  Email: dave@fontawesome.io
 *  Twitter: http://twitter.com/byscuits
 *  Work: Lead Product Designer @ Kyruus - http://kyruus.com
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=3.2.1');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('../font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* FONT AWESOME CORE
 * -------------------------- */
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em;
}
/* makes sure icons active on rollover in links */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline;
}
/* increased font size for icon-large */
[class^="icon-"].icon-fixed-width,
[class*=" icon-"].icon-fixed-width {
  display: inline-block;
  width: 1.1428571428571428em;
  text-align: right;
  padding-right: 0.2857142857142857em;
}
[class^="icon-"].icon-fixed-width.icon-large,
[class*=" icon-"].icon-fixed-width.icon-large {
  width: 1.4285714285714286em;
}
.icons-ul {
  margin-left: 2.142857142857143em;
  list-style-type: none;
}
.icons-ul > li {
  position: relative;
}
.icons-ul .icon-li {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  text-align: center;
  line-height: inherit;
}
[class^="icon-"].hide,
[class*=" icon-"].hide {
  display: none;
}
.icon-muted {
  color: #eeeeee;
}
.icon-light {
  color: #ffffff;
}
.icon-dark {
  color: #333333;
}
.icon-border {
  border: solid 1px #eeeeee;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.icon-2x {
  font-size: 2em;
}
.icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.icon-3x {
  font-size: 3em;
}
.icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.icon-4x {
  font-size: 4em;
}
.icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.icon-5x {
  font-size: 5em;
}
.icon-5x.icon-border {
  border-width: 5px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
[class^="icon-"].pull-left,
[class*=" icon-"].pull-left {
  margin-right: .3em;
}
[class^="icon-"].pull-right,
[class*=" icon-"].pull-right {
  margin-left: .3em;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */

.icon-gear:before,
.icon-cog:before {
  content: "\f013";
}


.icon-asterisk:before {
  content: "\f069";
}

.icon-warning-sign:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}

.icon-retweet:before {
  content: "\f079";
}
.icon-shopping-cart:before {
  content: "\f07a";
}

.icon-twitter:before {
  content: "\f081";
}

.icon-facebook:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-key:before {
  content: "\f084";
}
.icon-gears:before,
.icon-cogs:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-up-alt:before {
  content: "\f087";
}
.icon-thumbs-down-alt:before {
  content: "\f088";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-heart-empty:before {
  content: "\f08a";
}
.icon-signout:before {
  content: "\f08b";
}
.icon-linkedin-sign:before {
  content: "\f08c";
}

.icon-globe:before {
  content: "\f0ac";
}
.icon-wrench:before {
  content: "\f0ad";
}

.icon-pinterest:before {
  content: "\f0d2";
}
.icon-pinterest-sign:before {
  content: "\f0d3";
}
.icon-google-plus-sign:before {
  content: "\f0d4";
}
.icon-google-plus:before {
  content: "\f0d5";
}

.icon-envelope:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}

.icon-legal:before {
  content: "\f0e3";
}
.icon-dashboard:before {
  content: "\f0e4";
}
.icon-comment-alt:before {
  content: "\f0e5";
}
.icon-comments-alt:before {
  content: "\f0e6";
}

.icon-sitemap:before {
  content: "\f0e8";
}

.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-spinner:before {
  content: "\f110";
}

.icon-rss:before {
  content: "\f143";
}

.icon-external-link-sign:before {
  content: "\f14c";
}
.icon-share-sign:before {
  content: "\f14d";
}

.icon-thumbs-up:before {
  content: "\f164";
}
.icon-thumbs-down:before {
  content: "\f165";
}

.icon-instagram:before {
  content: "\f16d";
}
.icon-flickr:before {
  content: "\f16e";
}
.icon-adn:before {
  content: "\f170";
}


/* EXTRAS
 * -------------------------- */
/* Stacked and layered icon */
.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: -35%;
}
.icon-stack [class^="icon-"],
.icon-stack [class*=" icon-"] {
  display: block;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1em;
  line-height: inherit;
  *line-height: 2em;
}
.icon-stack .icon-stack-base {
  font-size: 2em;
  *line-height: 1em;
}
/* Animated rotating icon */
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
/* Prevent stack and spinners from being taken inline when inside a link */
a .icon-stack,
a .icon-spin {
  display: inline-block;
  text-decoration: none;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
/* Icon rotations and mirroring */
.icon-rotate-90:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.icon-rotate-180:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.icon-rotate-270:before {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.icon-flip-horizontal:before {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.icon-flip-vertical:before {
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
/* ensure rotation occurs inside anchor tags */
a .icon-rotate-90:before,
a .icon-rotate-180:before,
a .icon-rotate-270:before,
a .icon-flip-horizontal:before,
a .icon-flip-vertical:before {
  display: inline-block;
}


/* MY SHIZ */
.add-item a:before{
font-family: FontAwesome;
font-weight: normal;
font-style: normal;
text-decoration: inherit;
-webkit-font-smoothing: antialiased;
margin-right: .3em;
  content: "\F067";

}

#logo h1.site-title {margin-top: 5px;
}

#logo span.site-description {
margin-top: -5px;
margin-left: 5px;
	float: left;
}

ul#top-nav.nav.top-navigation.fl {
	margin: 0px;
}



ul#main-nav.nav.fl {
margin-left: 250px;
margin-top:  -70px;
}

header#header.col-full {
}

#nav-container {
	margin-bottom: 0px !important;
	box-shadow: 0;
	border: 0px !important;
	
}

#top-nav {
	float: right!important;
	z-index: 9999;
}



ul.sub-menu a:before {
font-family: FontAwesome;
font-weight: normal;
font-style: normal;
text-decoration: inherit;
-webkit-font-smoothing: antialiased;
margin-right: .3em;
	  content: "\F178";
	
}

#header h3.nav-toggle.icon a {
	margin-left: 10px;
}

#header h3.nav-toggle.icon {
	float: left;
	clear: left;
	width: 25%;
}


hgroup#logo {
	width: 30%;
	float: left;
}

hgroup#modal {
	
}

div#header-container, div#nav-container   {
background: #f5f5f5 
}

#header div.social {
	float: left;
}

#logo a img {
	float: left;
	margin-right: 10px;
}
/* TOP NAV BAR*/
#top {
	width: 100%;
	position: fixed;
	background-color: transparent !important;
	z-index: 9999;
	opacity: 0.9 !important;
	font: 1.1em 'Substance-ExtraLight' !important;
}

#top a{
		color: #000000 !important;
	
}

body {
	color:  #000000 !important;
	;
}

#navigation section.menus ul.cart.fr.no-rss-link li a.cart-contents {
	display: none;
}


input#search {
font-size: 1.1rem;
background-color: #fff !important;
text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
	float: right;
	display: table-cell;
	vertical-align: middle !important;
}

input#submit {
display: none;
}

#main-nav {
	width: 40%;
}



.screen-reader-text
{position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;}


header#header.col-full a, hgroup#modal{
font-size: 1.2em;
font-family: 'Substance-Thin','Helvetica Neue', 'Helvetica', Arial, sans-serif !important;
font-weight: normal;
}


ul.nav a:hover {
text-decoration:none !important;
}


/* NAV – HOME AND FORUM */

.forum.menu-item a:before  {
	display: inline-block;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
	content: '\F0E6';
	font-family: FontAwesome;
	margin-right: 5px;
	}
	


aside#buy {
	margin-top: 15px;
	
}

div.review-head {
	float: left;
	width: 100%;
	height: 460px;
}

#post-author div.profile-content div.profile-link {
	float: left;
	width: 100%;
	background-color: #d0d3d0;
	text-align: center;
	margin-top: 5px;
}

/* Social Icons */
.icon-alone {
  display: inline-block; /* Fix for clickability issue in WebKit */
}
.screen-reader-text { /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}



/* Log-in and Log-Out */
#top-nav li.loggedin a:before, #top-nav li.loggedout a:before{
	font-family: FontAwesome;
	display: inline-block;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
	margin-right: 5px;
	
}

hgroup#logo {
	margin-bottom: 20px;
	z-index: 999999!important;
}

#top-nav li.loggedin a:before {
	content: '\f09c';
	
}


#top-nav li.loggedout a:before {
	content: '\f023';
}


/* ARTICLE AND SECIONS */

p {
	font-size: 1.5em!important;
}

/* POST HEADERS */
#main article.post header {
float: left;
width: 99%;
 margin-bottom: 10px;
 border-top: 1px solid rgba(255, 255, 255, 0.04);
 border-bottom: 1px solid rgba(0, 0, 0, 0.16);


}

h1.title, h2.title {
	position: relative;

	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	
	background: #1a1a1a;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #212121), color-stop(1, #262626));
	background: -webkit-linear-gradient(top, #212121 50%, #262626 100%);
	background: -moz-linear-gradient(top, #212121 50%, #262626 100%);
	background: -ms-linear-gradient(top, #212121 50%, #262626 100%);
	background: -o-linear-gradient(top, #212121 50%, #262626 100%);
	    
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	 border-radius: 3px;
	 
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5) inset, 0 -2px 0px rgba(0, 0, 0, 0.25) inset, 0 1px 0px rgba(255, 255, 255, 0.1);
	 -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5) inset, 0 -2px 0px rgba(0, 0, 0, 0.25) inset, 0 1px 0px rgba(255, 255, 255, 0.1);
	 -o-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5) inset, 0 -2px 0px rgba(0, 0, 0, 0.25) inset, 0 1px 0px rgba(255, 255, 255, 0.1);
	 -ms-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5) inset, 0 -2px 0px rgba(0, 0, 0, 0.25) inset, 0 1px 0px rgba(255, 255, 255, 0.1);
	  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5) inset, 0 -2px 0px rgba(0, 0, 0, 0.25) inset, 0 1px 0px rgba(255, 255, 255, 0.1);
}


h1.title , h2.title a {
	font-family: 'Substance-Thin','Helvetica Neue', 'Helvetica', Arial, sans-serif !important;
	font-weight: normal;
	font-size: .8em !important;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-shadow: 0px -1px 0px #000000;
	color: #fff !important;				    	
	-webkit-transition: color 0.15s ease-out;
	-moz-transition: color 0.15s ease-out;
	-o-transition: color 0.15s ease-out;
	transition: color 0.15s ease-out;

	
}



h2.title a:hover {
    color: #fff !important;
}

/* Hide original text */

h2.title a:hover span{
	font-size: 0em;
	
}

/* Replace original text with value in data-hover */
h2.title a:hover:before  {
	font-size: 18px;
  content: attr(data-hover); 
}



h2.title a:before {
    content: '';
    display: none;
    width: 26px;
    height: 24px;
    position: relative;
    top: 4px;
}

h2.title a:after{
content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.4999, rgba(0, 0, 0, 0.15)), color-stop(0.5, rgba(0, 0, 0, 0.6)), color-stop(0.54, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0.05)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 49.99%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 54%, rgba(0, 0, 0, 0.05) 100%);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 49.99%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 54%, rgba(0, 0, 0, 0.05) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 49.99%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 54%, rgba(0, 0, 0, 0.05) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 49.99%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 54%, rgba(0, 0, 0, 0.05) 100%);
}

h2.title a:strong {
    display: inline-block;
    padding: 0.1em 0.2em;
    line-height: 1.0;
    background: #3f84a6;
    color: #f2f2f2;
    text-shadow: 0 -1px 0 #316781;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

div.post-meta{
	float: right;
	display: none;
}

/* PRODUCT SINGLE */

div.product_image {
	width: 600px;
	padding: 5px;
	float: left;
height: 100%;
margin-right: 30px;
position:relative;

}

div.product_image img {
 width: 100%;
 vertical-align: center;
 
}

div.product_name {
	 position: absolute;	
	 width: 100%;	 
}

div.product_image h1 {
 width: 100%;
 text-align: center;
 color: #fff;
 background: rgba(0, 0, 0, 0.7); 	
 font: 2.2em 'Substance-Thin' !important;
	letter-spacing: 1px;
	 vertical-align: center;
}

div.product_description{
	 position: absolute;
		width: 100%;
			margin-top:400px;
}

div.product_description p{
	height: 2em;
	width: 100%;
	text-align: center;
		font: 'Substance' !important;
		float: left;
		line-height: 2;
		
}

/* 3.4 Single Post Author */

section.product_details {
float: right;
	  height: 100%;
	  width: 300px;
  border: 1px solid #e6e6e6;
  background: #fafafa;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  
}

aside#post-review,aside#buy {
	padding: 5px;
}


#inner-wrapper div.review-head div.product_image div.product_name h1.product_title.entry-title span {
	float: left;
}


/* TABS */
#tab-description h2 {
	display: none;
}
div.woocommerce-tabs {
margin-top: 10px;
width: 100%;
float: left;
}

img.attachment-shop_thumbnail {
	padding: 5px;
}

/* TYPOGRAPHY */




/* NAV – SOCIAL */
iframe.youtube-player {
	max-width: 95%;
}


/*
POST FORMATS
*/


#main article.format-aside h1.title:before,
#main article.format-aside h2:before,
#main article.format-audio h1.title:before,
#main article.format-audio h2:before,
#main article.format-chat h1.title:before,
#main article.format-chat h2:before,
#main article.format-gallery h1.title:before,
#main article.format-gallery h2:before,
#main article.format-image h1.title:before,
#main article.format-image h2:before,
#main article.format-link h1.title:before,
#main article.format-link h2:before,
#main article.format-quote h1.title:before,
#main article.format-quote h2:before, 
#main article.format-standard h1.title:before,
#main article.format-standard h2:before,
#main article.format-status h1.title:before,
#main article.format-status h2:before,
#main article.format-video h1.title:before,
#main article.format-video h2:before
{
font-weight: normal;
text-transform: uppercase;
color: #c7c4c3;
font-family: FontAwesome;
padding:  5px 10px;
margin-right: 5px;
display: inline-block;

background: rgb(30, 30, 30);
background: -webkit-gradient(linear, center top, center bottom, 
     color-stop(0.0, rgba(0,0,0, 1)), 
     color-stop(0.05, rgba(30,30,30, 1)),  
     color-stop(1.0, rgba(50, 50, 60, 1)));
background: -moz-linear-gradient(270deg, 
     rgba(0,0,0,1) 0%, 
     rgba(30, 30, 30, 1) 5%, 
     rgba(50, 50, 60, 1) 100%);
     
 /* border radius */ 
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 -khtml-border-radius: 3px;
  border-radius: 3px;

 /* box shadow */
 -webkit-box-shadow: 
   inset 0 -1px 0 rgba(50,50,50,0.7), 
   inset 0 -2px 0 rgba(0,0,0,0.7), 
   inset 2px 0px 4px rgba(0,0,0,0.9), 
   inset -2px 0px 4px rgba(0,0,0,0.9), 
    0 1px 0px rgba(255,255,255,0.2);
 -moz-box-shadow: 
   inset 0 -1px 0 rgba(50,50,50,0.7), 
   inset 0 -2px 0 rgba(0,0,0,0.7), 
   inset 2px 0px 4px rgba(0,0,0,0.9), 
   inset -2px 0px 4px rgba(0,0,0,0.9), 
   0 1px 0px rgba(255,255,255,0.2);
  box-shadow:
   inset 0 -1px 0 rgba(50,50,50,0.7), 
   inset 0 -2px 0 rgba(0,0,0,0.7), 
   inset 2px 0px 4px rgba(0,0,0,0.9), 
   inset -2px 0px 4px rgba(0,0,0,0.9), 
   0 1px 0px rgba(255,255,255,0.2);
}

	/* LIGHT UP ICON ON BLOG PAGE HOVER… */
#main article.format-aside h1.title:hover:before,
#main article.format-aside h2:hover:before,
#main article.format-audio h1.title:hover:before,
#main article.format-audio h2:hover:before,
#main article.format-chat h1.title:hover:before,
#main article.format-chat h2:hover:before,
#main article.format-gallery h1.title:hover:before,
#main article.format-gallery h2:hover:before,
#main article.format-image h1.title:hover:before,
#main article.format-image h2:hover:before,
#main article.format-link h1.title:hover:before,
#main article.format-link h2:hover:before,
#main article.format-quote h1.title:hover:before,
#main article.format-quote h2:hover:before, 
#main article.format-standard h1.title:hover:before,
#main article.format-standard h2:hover:before,
#main article.format-status h1.title:hover:before,
#main article.format-status h2:hover:before,
#main article.format-video h1.title:hover:before,
#main article.format-video h2:hover:before
{
color: #fff;
}


#main article.format-quote p{
	font-size: 2em !important;
	line-height: 1.3em;
	margin-left: 5px;
	float: left;
	width: 76%;
}

#main article figcaption.quote-caption a {
	float: right;
}

/* POST FORMATS */

/* ASIDE – POST FORMAT */
.format-aside h1.title:before,
.format-aside h2.title:before {
content: '\F069';
}

/* AUDIO – POST FORMAT */
.format-audio h1.title:before,
.format-audio h2.title:before {
content: '\F001';
}

/* CHAT – POST FORMAT */
.format-chat h1.title:before,
.format-chat h2.title:before {
content: '\F086';
}
.format-chat section.entry p{ background: #e0f1f3; /* The background color of first paragraph */ border-left: 7px solid #2ba6cb; /* The setting for border of first paragraph */ margin-bottom: 2px; padding-left: 13px; } 

.format-chat section.entry  p:nth-child(odd) { background: #e9e9e9; /* The background color of next paragraph */ border-left-color: #5da423; /* The setting for border of next paragraph */ }


/* GALLERY – POST FORMAT */
.format-gallery h1.title:before,
.format-gallery h2:before {
content: '\f03e';
}


/* IMAGES – POST FORMAT */
.format-image h1.title:before,
.format-image h2.title:before {
content: '\f083';
}

/* LINKS – POST FORMAT */
.format-link h1.title:before,
.format-link h2.title:before {
content: '\F08E';
}

/* QUOTES – POST FORMAT */
.format-quote h1.title:before,
.format-quote h2.title:before{
content: '\f10d';
}

/* STANDARD – POST FORMAT */
.format-standard h1.title:before,
.format-standard h2.title:before {
content: '\f016';
}

/* STATUS – POST FORMAT */
.format-status h1.title:before,
.format-status h2.title:before {
content: '\F0A1';
}


/* VIDEO – POST FORMAT */
.format-video h1.title:before, 
.format-video h2.title:before {
content: '\f008';
}

div.post-more {
	text-align: right;
}


img.woo-image.thumbnail.alignright {
	margin-right: 15px;
	float: right;
}

#wrapper {
	background-color: #f4f4f4 !important;
	padding: 1px;
}

article{
	background-color: #ffffff !important;
	padding: 5px;
}

div.centered {
	margin: 10px auto;
	  position: relative;
	  width: 50%;
}
/* DEPARTURE BOARD */



.departure-board {
    padding:  0.36em;
    display: inline-block;
	line-height: 1.3em;
    background: rgb(30, 30, 30);
    -webkit-border-radius: 0.21em;
    -moz-border-radius: 0.21em;
    border-radius: 0.21em;
    color: #eee;
	font-family: Helvetica;
	width: 99%;
}



.departure-board span.letter {
	display: inline-block;
	width: 1em;
	margin: 0 .1em;
	height: 1.3em;
	text-align: center;
	position: relative;
}


.departure-board span.letter {
	-webkit-box-shadow: 
		inset 0 -.07em 0 rgba(50, 50, 50, .7), 
		inset 0 -.14em 0 rgba(0, 0, 0, .7), 
		inset .14em 0 .28em rgba(0, 0, 0, .9), 
		inset -.14em 0 .28em rgba(0, 0, 0, .9),	
		0 .07em 0 rgba(255, 255, 255, .2); 

	-moz-box-shadow: 
		inset 0 -.07em 0 rgba(50, 50, 50, .7), 
		inset 0 -.14em 0 rgba(0, 0, 0, .7), 
		inset .14em 0 .28em rgba(0, 0, 0, .9), 
		inset -.14em 0 .28em rgba(0, 0, 0, .9),	
		0 .07em 0 rgba(255, 255, 255, .2); 

	-o-box-shadow: 
		inset 0 -.07em 0 rgba(50, 50, 50, .7), 
		inset 0 -.14em 0 rgba(0, 0, 0, .7), 
		inset .14em 0 .28em rgba(0, 0, 0, .9), 
		inset -.14em 0 .28em rgba(0, 0, 0, .9),	
		0 .07em 0 rgba(255, 255, 255, .2); 

	box-shadow: 
		inset 0 -.07em 0 rgba(50, 50, 50, .7), 
		inset 0 -.14em 0 rgba(0, 0, 0, .7), 
		inset .14em 0 .28em rgba(0, 0, 0, .9), 
		inset -.14em 0 .28em rgba(0, 0, 0, .9),	
		0 .07em 0 rgba(255, 255, 255, .2); 
}


.departure-board span.letter:before {
	border-top: .07em solid rgba(0, 0, 0, .4);
	border-bottom: .07em solid rgba(255, 255, 255, .08);
	height: 0;
	position: relative;
	width: 100%;
	left: 0;
	top: .62em;
	content: " ";
	display: block;
	z-index: 2;
	-moz-transform: translate(0, -.05em);
	-o-transform: translate(0, -.1em);
}


.departure-board span.fold {
	display: block;
	position: absolute;
	height: 0;
	top: .65em;
}


.departure-board span.flap {
	display: block;
	position: absolute;
	top: 0em;	
	width: 1em;
	height: .65em;
	margin: 0;
	overflow: hidden;
}


.departure-board span.text {
	width: 100%;
}
	

.departure-board span.bottom {
	top: .65em;
}


.departure-board span.bottom span.text {
	position: relative;
	top: -.65em;
}
	


.departure-board span.flap.falling {
	display: none;
	bottom: 0;	
	top: auto;
}


.departure-board span.flap.falling span.text {
	-webkit-backface-visibility: hidden;
	border-top: .03em solid #444;
	border-bottom: .03em solid #444;	
    background: #000;
	display: block;
	position: relative;
	
	-webkit-transform: scaleY(1); 
	-moz-transform: scaleY(1); 
	-o-transform: scaleY(1); 
	transform: scaleY(1); 
	
	-webkit-transition: -webkit-transform linear;
	-moz-transition: -moz-transform linear;
	-o-transition: -o-transform linear;
	transition: transform linear;
}





/* GRAVEYARD 

a.social-rss:before, a.social-twitter:before, a.social-facebook:before, 
a.social-linkedin:before, a.social-adn:before {
	font-family: FontAwesome;
	margin-right: 5px;
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
}

a.social-linkedin:before {
	content: '\F08C';	
}

a.social-adn:before {
	content: '\f170';
}

a.social-facebook:before{
	content: '\F082';
}

a.social-twitter:before{
	content: '\F081';
}

a.social-rss:before{
	content: '\F143';	
}

.social a {
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
 .social a:hover {
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
 .social a:hover {
  text-decoration: none;
}
 .social a:before {
  font-family: Social;
  font-size: 1.1em;
  line-height: 1;
  margin: 0 0.2em 0.6em 0;
  padding: .53em;
  display: inline-block;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
}
 .social a.subscribe:before {
  content: '\e001';
  background-color: #FF6600;
}
#top-nav .social a.twitter:before {
  content: '\e002';
  background-color: #00aced;
}
.li a.social.facebook:before {
  content: '\e003';
  background-color: #3b5998;
}


.social a.youtube:before {
  content: '\e004';
  background-color: #af2b26;
}
 .social a.flickr:before {
  content: '\e005';
  background-color: #ff0084;
}
 .social a.linkedin:before {
  content: '\e006';
  background-color: #71c5ef;
}
 .social a.delicious:before {
  content: '\e007';
  background-color: #285da7;
}
 .social a.googleplus:before {
  content: '\e008';
  background-color: #2d2d2d;
  font-weight: bold;
}
 .social a.dribbble:before {
  content: '\e009';
  background-color: #ea4c89;
}
 .social a.instagram:before {
  content: '\e010';
  background-color: #517fa4;
}
 .social a.vimeo:before {
  content: '\e011';
  background-color: #33454E;
}
 .social a.pinterest:before {
  content: '\e012';
  background-color: #d2a900;
}

ul#top-nav.nav.top-navigation.fl {
	width: 100%;
	float: left;
}



#top-nav li a.social-linkedin:before {
font-family: Social;
font-size: 1.1em;
line-height: 1;
margin: 0 0.2em 0.6em 0;
padding: .53em;
display: inline-block;
-webkit-border-radius: 300px;
-moz-border-radius: 300px;
border-radius: 300px;
color: #fff;
text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
content: '\e006';
background-color: #71c5ef;
}

#top-nav li a.loggedout {
	float: right;
}

#top-nav li.social-menu-item, #top-nav li.signin{
	float: right;
}

#top-nav li a.loggedin:before {
font-family: FontAwesome;
font-size: 1.1em;
line-height: 1;
margin: 0 0.2em 0.6em 0;
padding: .53em;
display: inline-block;
-webkit-border-radius: 300px;
-moz-border-radius: 300px;
border-radius: 300px;
color: #fff;
text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
	content: '\f09c';
	background-color: #d2a900;
}
#top-nav li a.loggedout:before {
font-family: FontAwesome;
font-size: 1.1em;
line-height: 1;
margin: 0 0.2em 0.6em 0;
padding: .53em;
display: inline-block;
-webkit-border-radius: 300px;
-moz-border-radius: 300px;
border-radius: 300px;
color: #fff;
text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
	content: '\f023';
	background-color: #d2a900;
}



#main article.post header {
 width: 90%;
  position: relative;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

h2.title {

   font-weight: normal;
   text-transform: uppercase;
   color: white;
   
	padding:  5px 10px;
	background: rgb(30, 30, 30);
	    background: -webkit-gradient(linear, center top, center bottom, 
	      color-stop(0.0, rgba(0,0,0, 1)), 
	      color-stop(0.05, rgba(30,30,30, 1)),  
	      color-stop(1.0, rgba(50, 50, 60, 1)));
	    background: -moz-linear-gradient(270deg, 
	      rgba(0,0,0,1) 0%, 
	      rgba(30, 30, 30, 1) 5%, 
	      rgba(50, 50, 60, 1) 100%);
	      
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    -khtml-border-radius: 3px;
	    border-radius: 3px;
	 
	    
	       -webkit-box-shadow: 
	         inset 0 -1px 0 rgba(50,50,50,0.7), 
	         inset 0 -2px 0 rgba(0,0,0,0.7), 
	         inset 2px 0px 4px rgba(0,0,0,0.9), 
	         inset -2px 0px 4px rgba(0,0,0,0.9), 
	         0 1px 0px rgba(255,255,255,0.2);
	       -moz-box-shadow: 
	         inset 0 -1px 0 rgba(50,50,50,0.7), 
	         inset 0 -2px 0 rgba(0,0,0,0.7), 
	         inset 2px 0px 4px rgba(0,0,0,0.9), 
	         inset -2px 0px 4px rgba(0,0,0,0.9), 
	         0 1px 0px rgba(255,255,255,0.2);
	       box-shadow:
	         inset 0 -1px 0 rgba(50,50,50,0.7), 
	         inset 0 -2px 0 rgba(0,0,0,0.7), 
	         inset 2px 0px 4px rgba(0,0,0,0.9), 
	         inset -2px 0px 4px rgba(0,0,0,0.9), 
	         0 1px 0px rgba(255,255,255,0.2);
	letter-spacing: 4px;
}



h2.title a {
	font: 1.4em 'Substance-Thin' !important;
	color: #c7c4c3 !important;
		-webkit-transition: color 0.15s ease-out;
	-moz-transition: color 0.15s ease-out;
	-o-transition: color 0.15s ease-out;
	transition: color 0.15s ease-out;
}
h2.title a:hover {
    color: #fff !important;

}

h2.title a span{

	
}


h2.title a:hover span{
	font-size: 0em;
			
}

h2.title a:hover:before {
  content: attr(data-hover); 
  	text-decoration:none;
  	
}

h2.title a:before{
border-top: 1px solid rgba(0,0,0,0.4);
    border-bottom: 1px solid rgba(255,255,255,0.08);
    position: relative;
    width: 100%;
    top: 24px;
    content: " "; 
    display: block;
}




*/