/* @license
 * MyFonts Webfont Build ID 2581680, 2013-06-16T08:35:29-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Substance Black by FaceType
 * URL: http://www.myfonts.com/fonts/facetype/substance/black/
 * 
 * Webfont: Substance Black Italic by FaceType
 * URL: http://www.myfonts.com/fonts/facetype/substance/black-italic/
 * 
 * Webfont: Substance Bold by FaceType
 * URL: http://www.myfonts.com/fonts/facetype/substance/bold/
 * 
 * Webfont: Substance Bold Italic by FaceType
 * URL: http://www.myfonts.com/fonts/facetype/substance/bold-ital/
 * 
 * Webfont: Substance by FaceType
 * URL: http://www.myfonts.com/fonts/facetype/substance/regular/
 * 
 * Webfont: Substance Italic by FaceType
 * URL: http://www.myfonts.com/fonts/facetype/substance/ital/
 * 
 * Webfont: Substance Extra Bold by FaceType
 * URL: http://www.myfonts.com/fonts/facetype/substance/extra-bold/
 * 
 * Webfont: Substance Extra Bold Italic by FaceType
 * URL: http://www.myfonts.com/fonts/facetype/substance/extra-bold-ital/
 * 
 * Webfont: Substance Extra Light Italic by FaceType
 * URL: http://www.myfonts.com/fonts/facetype/substance/extra-light-ital/
 * 
 * Webfont: Substance Extra Light by FaceType
 * URL: http://www.myfonts.com/fonts/facetype/substance/extra-light/
 * 
 * Webfont: Substance Light by FaceType
 * URL: http://www.myfonts.com/fonts/facetype/substance/light/
 * 
 * Webfont: Substance Light Italic by FaceType
 * URL: http://www.myfonts.com/fonts/facetype/substance/light-ital/
 * 
 * Webfont: Substance Medium Italic by FaceType
 * URL: http://www.myfonts.com/fonts/facetype/substance/medium-ital/
 * 
 * Webfont: Substance Medium by FaceType
 * URL: http://www.myfonts.com/fonts/facetype/substance/medium/
 * 
 * Webfont: Substance Thin by FaceType
 * URL: http://www.myfonts.com/fonts/facetype/substance/thin/
 * 
 * Webfont: Substance Thin Italic by FaceType
 * URL: http://www.myfonts.com/fonts/facetype/substance/thin-ital/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2581680
 * Webfonts copyright: Copyright &#x00A9; 2013 by Marcus Sterz. All rights reserved.
 * 
 * © 2013 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2764b0");

  
@font-face {font-family: 'Substance-Black';src: url('2764B0_0_0.eot');src: url('2764B0_0_0.eot?#iefix') format('embedded-opentype'),url('2764B0_0_0.woff') format('woff'),url('2764B0_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Substance-BlackItalic';src: url('2764B0_1_0.eot');src: url('2764B0_1_0.eot?#iefix') format('embedded-opentype'),url('2764B0_1_0.woff') format('woff'),url('2764B0_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Substance-Bold';src: url('2764B0_2_0.eot');src: url('2764B0_2_0.eot?#iefix') format('embedded-opentype'),url('2764B0_2_0.woff') format('woff'),url('2764B0_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Substance-BoldItalic';src: url('2764B0_3_0.eot');src: url('2764B0_3_0.eot?#iefix') format('embedded-opentype'),url('2764B0_3_0.woff') format('woff'),url('2764B0_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Substance-Regular';src: url('2764B0_4_0.eot');src: url('2764B0_4_0.eot?#iefix') format('embedded-opentype'),url('2764B0_4_0.woff') format('woff'),url('2764B0_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Substance-RegularItalic';src: url('2764B0_5_0.eot');src: url('2764B0_5_0.eot?#iefix') format('embedded-opentype'),url('2764B0_5_0.woff') format('woff'),url('2764B0_5_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Substance-ExtraBold';src: url('2764B0_6_0.eot');src: url('2764B0_6_0.eot?#iefix') format('embedded-opentype'),url('2764B0_6_0.woff') format('woff'),url('2764B0_6_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Substance-ExtraBoldItalic';src: url('2764B0_7_0.eot');src: url('2764B0_7_0.eot?#iefix') format('embedded-opentype'),url('2764B0_7_0.woff') format('woff'),url('2764B0_7_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Substance-ExtraLightItalic';src: url('2764B0_8_0.eot');src: url('2764B0_8_0.eot?#iefix') format('embedded-opentype'),url('2764B0_8_0.woff') format('woff'),url('2764B0_8_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Substance-ExtraLight';src: url('2764B0_9_0.eot');src: url('2764B0_9_0.eot?#iefix') format('embedded-opentype'),url('2764B0_9_0.woff') format('woff'),url('2764B0_9_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Substance-Light';src: url('2764B0_A_0.eot');src: url('2764B0_A_0.eot?#iefix') format('embedded-opentype'),url('2764B0_A_0.woff') format('woff'),url('2764B0_A_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Substance-LightItalic';src: url('2764B0_B_0.eot');src: url('2764B0_B_0.eot?#iefix') format('embedded-opentype'),url('2764B0_B_0.woff') format('woff'),url('2764B0_B_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Substance-MediumItalic';src: url('2764B0_C_0.eot');src: url('2764B0_C_0.eot?#iefix') format('embedded-opentype'),url('2764B0_C_0.woff') format('woff'),url('2764B0_C_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Substance-Medium';src: url('2764B0_D_0.eot');src: url('2764B0_D_0.eot?#iefix') format('embedded-opentype'),url('2764B0_D_0.woff') format('woff'),url('2764B0_D_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Substance-Thin';src: url('2764B0_E_0.eot');src: url('2764B0_E_0.eot?#iefix') format('embedded-opentype'),url('2764B0_E_0.woff') format('woff'),url('2764B0_E_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Substance-ThinItalic';src: url('2764B0_F_0.eot');src: url('2764B0_F_0.eot?#iefix') format('embedded-opentype'),url('2764B0_F_0.woff') format('woff'),url('2764B0_F_0.ttf') format('truetype');}
 